body {overflow: hidden}

#content {
    width: 960px;
    padding: 0;
    margin: 0 auto;
}

#loader {
    visibility: visible;
    position: relative;
    margin: 0;
    padding: 0;
    top: 200px;

    background-color: #000000;
    color: #FFFFFF;

    text-align: center;



    font-size: 40px;

}

#video {
    position: absolute;
    top: 0;
    left: 100px;
}




